body{
    margin:0px;
}
a{
    text-decoration: none;
    color: #14B9D5;
    display: inline-block;
}
footer{
  position: relative;
width: 100%;
height: 80px;
left: 0px;
top: 0px;
background: #000000;
}