@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #14b9d5;
}
.top-menu {
  display: flex;
  top: 0px;
  height: 70px;
  background: #313131;
  justify-content: center;
}
.logo-img {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 13px;
  top: 22px;
  background-color: transparent;
}
.logo-img-text {
  display: flex;
  justify-content: start;
}
.architect {
  position: absolute;
  width: 124px;
  height: 26px;
  left: 67px;
  top: 22px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
}
.top-menu__nav {
  text-align: center;
  padding-top: 30px;
}
.top-menu__nav-item {
  text-decoration: none;

  height: 16px;

  display: flex;

  font-family: "Open Sans";

  font-weight: 600;
  font-size: 15px;
  margin-right: 35px;
  align-items: flex-end;
  text-transform: uppercase;
  justify-content: center;
  color: #ffffff;
}
.top-menu__nav-list {
  display: flex;
  margin-top: 0px;
  padding: 0px;
  justify-content: center;
}
.magnifer-img {
  position: relative;
  width: 17px;
  height: 17px;
  left: 26px;
  top: 27px;
  margin-right: 50px;
}
.black-right-square {
  position: absolute;
  display: inline-block;
  width: 68px;
  height: 70px;
  right: 0px;
  top: 0px;
  background: #000000;
}
.header-background {
  background-image: url("../img/header.png");
  width: 100%;
  height: 370px;
  position: relative;
  right: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
}
.title-hero {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: white;
  padding-right: 200px;
  padding-bottom: 50px;
}
.container {
  position: relative;
  width: 1200px;
  margin-left: 0px;
  margin-right: 0px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 170px;
  height: 55px;
  background: #14b9d5;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  border-width: 0px;
  color: #ffffff;
  margin-right: 20px;
  cursor: pointer;
}
.heading-title {
  width: 100%;
  height: 33px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 49px;
  margin-bottom: 52px;
  color: #18b4cf;
}
.most_popular_post {
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: center;
  background: #f2f2f2;
  width: 1410px;
  padding-top: 52px;
  padding-right: 59px;
}
.box {
  margin: 15px;
  display: flex;
  position: relative;
  align-items: flex-end;
}
.box-1 {
  width: 370px;
  height: 259px;
}
.box-2,
.box-6 {
  width: 370px;
  height: 380px;
}
.box-3 {
  width: 370px;
  height: 290px;
}
.box-4 {
  width: 370px;
  height: 260px;
}
.box-5 {
  width: 370px;
  height: 247px;
}
.text-box {
  display: flex;
  position: absolute;
  width: 370px;
  height: 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  background: #ffffff;
  color: #353a3d;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
  width: 100%;
  min-height: 400px;
  justify-content: center;
}
.title-hero {
  display: flex;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  align-items: flex-end;
  width: 837px;
  height: 32px;
  left: 820px;
  text-transform: uppercase;
  padding-bottom: 80px;
}
.hero-wrapper {
  min-height: 400px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-image: url("../img/Shape.jpg");
}
.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.brands img:not(:last-child) {
  margin-right: 61px;
}
.hello-title-wrapper {
  color: white;
  margin-bottom: 149px;
}
.hello .main-title {
  font-family: "Montserrat";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 21px;
}
.hello .sub-title {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.hello .slogan {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  padding: 31px 38px;
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  border: 1px solid white;
}
.hello .hello-title-wrapper .colored {
  color: #f48e0b;
  position: relative;
  margin-right: 52px;
}
.hello .hello-title-wrapper .colored::after {
  content: "";
  width: 1px;
  height: 127px;
  background-color: #f48e0b;
  position: absolute;
  right: -26px;
  top: -31px;
}

.images-section-top-rated {
  display: flex;
}
.images-section-top-rated img {
  width: 217px;
  height: 190px;
}
.footer-text {
  position: absolute;
  width: 512px;
  height: 80px;
  left: 330px;
  margin-top: 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  align-items: center;
  display: flex;
  color: #ffffff;
}
.footer-logo {
  display: flex;
  position: absolute;
  width: 1200px;
  justify-content: flex-end;
  max-height: 80px;
  align-items: center;
  height: 80px;
}
.logo img {
  height: 15px;
}

.upper-block-hot-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 300px);
  text-align: center;
  background: rgba(0, 0, 0, 0.0001);
  margin: 150px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.images-text {
  background: #f2f2f2;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #5b6469;
  padding-top: 10px;
  height: 34px;
  width: 279px;
  margin-left: 15px;
}
.images-small-text {
  background: #f2f2f2;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 3%);
  width: 350px;
  height: 228px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #5b6469;
  padding-top: 0px;
  padding-bottom: 30px;
}
.images-small-text h3 {
  color: #353a3d;
}
.image-text h3 {
  color: #353a3d;
  text-align: end;
  padding-right: 10px;
  margin-top: 0px;
}
.images-text {
  padding-top: 0px;
  margin-left: 23px;
  margin-top: 0px;
  padding-top: 10px;
}
.middle-block-hot-news {
  display: grid;
  grid-gap: 40px 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 400px);
  text-align: end;
  background: rgba(0, 0, 0, 0.0001);
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 180px;
  margin-right: 120px;
}
.bottom-block-hot-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 350px);
  text-align: center;
  background: rgba(0, 0, 0, 0.0001);
  margin-left: 130px;
  margin-right: 150px;
}
.image-text {
  width: 555px;
  height: 104px;
  background: #f2f2f2;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #5b6469;
}
.images-grid {
  margin-left: 31px;
}
.image {
  width: 554px;
}
